<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="setContent(content)">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>미니 캘린더 관리</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Full-Calendar    -->
    <link th:href="@{/fullcalendar/main.css}" rel="stylesheet">
    <script th:src="@{/fullcalendar/main.js}"></script>

</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">일정 관리</div>
        <div class="list-group list-group-flush">
            <a href="/calendar/timesort" id="timeBtn" class="list-group-item list-group-item-action bg-light">시간순 일정</a>
            <a href="/calendar/prioritysort" id="priorityBtn" class="list-group-item list-group-item-action bg-light">우선순위 일정</a>
            <a href="/calendar/calendar" id="calendarBtn" class="list-group-item list-group-item-action bg-light">캘린더</a>
            <a href="/calendar/events" id="eventsBtn" class="list-group-item list-group-item-action bg-light">이벤트</a>
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">메뉴</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
<!--                        <a class="nav-link" href="/">로그인<span class="sr-only">(current)</span></a>-->
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/register">정보 수정</a>-->
<!--                    </li>-->
                    <li class="nav-item">
<!--                        <a class="nav-link" href="/">로그아웃</a>-->
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <th:block th:replace = "${content}"></th:block>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });ㅌ
  </script>

</body>
</th:block>
</html>
