<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang='en'>
<head>
    <meta charset='utf-8' />
<!--    <link href='static/fullcalendar/main.css' rel='stylesheet' />-->
<!--    <script src='static/fullcalendar/main.js'></script>-->
    <link th:href="@{/fullcalendar/main.css}" rel="stylesheet">
    <script th:src="@{/fullcalendar/main.js}"></script>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });main.css

    </script>
</head>
<body>
    <div id='calendar'></div>
</body>
</html>