<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <h1 class="mt-4">우선순위 일정
            <span>
                <a th:href="@{/calendar/register}">
                    <button type="button" class="btn btn-success">일정 등록</button>
                </a>
            </span>
        </h1>

        <table class="table table-horizontal table-boardred">
            <thead class="thead-strong">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>내용</th>
                <th>중요도</th>
                <th>시작 일</th>
                <th>시작 시간</th>
                <th>종료 일</th>
                <th>종료 시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${result}">
                <th scope="row">
                    <a th:href="@{/calendar/read(pno = ${dto.pno})}">
                        [[${dto.pno}]]
                    </a>
                </th>
                <th scope="row">
                    <a th:href="@{/calendar/read(pno = ${dto.pno})}">
                        [[${dto.title}]]
                    </a>
                </th>
                <td>[[${dto.content}]]</td>
                <td>[[${dto.score}]]</td>
                <td>[[${dto.startDate}]]</td>
                <td>[[${dto.startTime}]]</td>
                <td>[[${dto.endDate}]]</td>
                <td>[[${dto.endTime}]]</td>

            </tr>

            </tbody>
        </table>

    </th:block>

</th:block>