<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <h1 class="mt-4">일정 등록</h1>

        <form th:action="@{/calendar/register}" th:object="${postsSaveRequestDTO}" method="post">
<!--            <div class="form-group">-->
<!--                <label for="email">작성자</label>-->
<!--                <input type="text" th:placeholder="${session.user.email}" th:value="${session.user.email}" class="form-control" id="email" name="email" readonly>-->
<!--                <input type="text" th:placeholde="${session.principal.id}" th:value="${session.principal.id}" class="form-control" id="email" name="email" readonly>-->
<!--            </div>-->
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" th:field="*{title}" id="title" placeholder="제목을 입력해주세요">
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <input type="text" class="form-control" th:field="*{content}" id="content" placeholder="내용을 입력해주세요">
            </div>
            <div class="form-group">
                <label for="score">중요도</label>
                <input type="text" class="form-control" th:field="*{score}" id="score" placeholder="점수를 입력해주세요">
            </div>
            <div class="form-group">
                <label>시작</label>
                <p><input type="date" th:field="*{startDate}"></p>
                <p><input type="time" th:field="*{startTime}"></p>
            </div>
            <div class="form-group">
                <label>종료</label>
                <p><input type="date" th:field="*{endDate}"></p>
                <p><input type="time" th:field="*{endTime}"></p>
            </div>

        </form>

        <button type="button" class="btn btn-primary" id="btn-register">등록</button>

        <script>

            var main = {
                init : function () {
                    var _this = this;
                    $('#btn-register').on('click', function (){
                        _this.save();
                    });
                },
                save : function () {
                    var data = {
                        title: $('#title').val(),
                        content: $('#content').val(),
                        email: $('#email').val(),
                        score: $('#score').val(),
                        startDate: $('#startDate').val(),
                        startTime: $('#startTime').val(),
                        endDate: $('#endDate').val(),
                        endTime: $('#endTime').val()
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/calendar/register',
                        contentType:'application/json; charset=utf-8',
                        data: JSON.stringify(data),
                        success: function(result) {
                            if (result) {
                                alert("일정이 등록되었습니다.");
                                window.location.href = '/';
                            } else {
                                alert("전송된 값 없음");
                            }
                        },
                        error: function() {
                            alert("에러 발생");
                        }
                    })
                }
            };

            main.init();

        </script>

    </th:block>

</th:block>