<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <h1 class="mt-4">일정 상세 페이지</h1>

        <div class="form-group">
            <label>제목</label>
            <input type="text" class="form-control" th:value="${dto.title}" name="title">
        </div>
        <div class="form-group">
            <label>내용</label>
            <input type="text" class="form-control" th:value="${dto.content}" name="content">
        </div>
        <div class="form-group">
            <label>중요도</label>
            <input type="text" class="form-control" th:value="${dto.score}" name="score">
        </div>
        <div class="form-group">
            <label>시작</label>
            <p><input type="date" th:value="${dto.startDate}"></p>
            <p><input type="time" th:value="${dto.startTime}"></p>
        </div>
        <div class="form-group">
            <label>종료</label>
            <p><input type="date" th:value="${dto.endDate}"></p>
            <p><input type="time" th:value="${dto.endTime}"></p>
        </div>

        <button type="button" class="btn btn-primary" id="btn-update">수정</button>
        <button type="button" class="btn btn-danger" id="btn-cancel">취소</button>

        <script>


        </script>

    </th:block>

</th:block>